#main .section{
    height: 750px;
    background-size: cover;
	background-position: center;
}

ul{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

li:hover{
    text-decoration: overline;
}

.navbar-brand{
    font-size: 35px;
    font-family: 'Lobster', cursive;
}

.wheatBckgr{
    background: white;
    opacity: 0.5;
}

#home{
    background-image: url("lib/backgroundImages/hal-gatewood-484512-unsplash.jpg");
}

#about{
    background-image: url("lib/backgroundImages/joanna-kosinska-340746-unsplash.jpg");
}

#services{
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#gallery{
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#subscribe{
    background-image: url("lib/backgroundImages/pineapples.jpg");
}

#blog{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contact{
    background-image: url("lib/backgroundImages/takemaru-hirai-239939-unsplash.jpg");
}